*{
    margin: 0%;
    padding: 0%;
}
html,body{
    width: 100%;
    height: 100%; 
    background-color: rgb(146, 141, 153);
}
#heading h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(97, 120, 97);
    font-size: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(17, 16, 25);
}
#box {

  width: 800px;
  height: 600px;
  background-color: rgb(97, 120, 97);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 10px;
  margin: 10px;
  border: 2px solid black;   
  border-radius: 5px;         
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  width: 100%;
  height: 100%;
  background-color: rgb(17, 16, 25);
  border-radius: 5px;
}

img{
    width: 100%;
    height: 100%;

}



